{% extends 'base.html.twig' %}

{% block title %}{{ "inscription.title" | trans }}{% endblock %}

{% block body %}

{% for flashError in app.flashes('verify_email_error') %}
    <div class="alert alert-danger" role="alert">{{ flashError }}</div>
{% endfor %}
    
<div class="container-fluid pt-5">
    <div class="row justify-content-center">

        {{ form_start(registrationForm, {
            attr: {class: "col-10 col-sm-8 col-md-6 col-lg-5 col-xl-4"}
        }) }}
            <h1 class="h3 mb-3 font-weight-normal" leet-speak inverse>{{ "inscription.title" | trans }}</h1>
  
            {{ form_row(registrationForm.username, {
                label: "inscription.username" | trans,
                attr: {class: "form-control mb-3"},
                label_attr: {"leet-speak": "", "inverse": ""}
            }) }}
            {{ form_row(registrationForm.plainPassword, {
                label: "inscription.password" | trans,
                attr: {class: "form-control"},
                label_attr: {"leet-speak": "", "inverse": ""}
            }) }}

            <button type="submit" class="btn btn-lg gradient text-white mt-3" leet-speak inverse>{{ "inscription.button" | trans }}</button>
        {{ form_end(registrationForm) }}

    </div>
</div>
{% endblock %}
