{% extends 'base.html.twig' %}

{% block title %}
	{{ "navbar.items.home" | trans }}
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/components/card-info.css') }}">
	<link rel="stylesheet" href="{{ asset('css/drag.css') }}">
{% endblock %}

{% block body %}


	{% set skill = ["home.cards.developpement" | trans, "home.cards.reseau" | trans, "home.cards.gestion" | trans, "home.cards.marketing" | trans] %}
	{% set domain = ["home.cards.technique" | trans, "home.cards.technique" | trans, "home.cards.humain" | trans, "home.cards.humain" | trans] %}

	<div class="home-jumbotron gradient">
		<div class="jumbotron-text">
			<h1 class="big-title px-5" leet-speak inverse>{{ "home.jumbotron.title" | trans }}</h1>
			<p class="mt-5" leet-speak inverse>{{ "home.jumbotron.description" | trans }}</p>
		</div>
		<div class="mt-5 jumbotron-down-arrow">
			<h2 class="text-white">
				<a href="#main">
					<i class="fas fa-chevron-down"></i>
				</a>
			</h2>
		</div>
		<div class="container-fluid mt-4">
      		<div class="row">
         		<div id="draggablediv" class="ui-widget-content">
           			<img id="dolphin" src="{{ asset('images/dolphin.png') }}" data-toggle="tooltip" data-placement="top" title="{{ "leetspeak.dolphin.tooltip" | trans }}">
         		</div>
      		</div>
   		</div>
	</div>

	<section id="main">
		<div id="main-title">
			<h1 class="gradient-text" leet-speak inverse>{{ "home.main.title" | trans }}</h1>&nbsp;
		</div>

		<div class="container-fluid" id="cards">
			<div class="row justify-content-center">
				{% for i in 1..4 %}
					{% include "components/card-info.html.twig" with {
						type: i,
						skill: skill[i-1],
						domain: domain[i-1]
					}%}
				{% endfor %}
			</div>
		</div>
	</section>

	<section id="compteur" class="gradient">
		<p id="title-compteur"></p>
		<div id="compteur-dates">
			<div class="element-date">
				<div id="jours"></div>
				<div leet-speak inverse>{{ 'home.compteur.jours' | trans }}</div>
			</div>
			<div class="date-divider"></div>
			<div class="element-date">
				<div id="heures"></div>
				<div leet-speak inverse>{{ 'home.compteur.heures' | trans }}</div>
			</div>
			<div class="date-divider"></div>
			<div class="element-date">
				<div id="minutes"></div>
				<div leet-speak inverse>{{ 'home.compteur.minutes' | trans }}</div>
			</div>
			<div class="date-divider"></div>
			<div class="element-date">
				<div id="secondes"></div>
				<div leet-speak inverse>{{ 'home.compteur.secondes' | trans }}</div>
			</div>
		</div>
	</section>
	
	<section id="map" class="mt-5">
		<h4 leet-speak inverse>{{ 'map.title' | trans }}</h4>
		<iframe frameborder=0 style='width:100%;height:500px' src='//www.zeemaps.com/pub?group=3986055&locate=1&search=1&x=-44.185579&y=23.871298&z=15'></iframe>
		<p leet-speak inverse>{{ 'map.subtitle' | trans }}</p>
	</section>

	{% if lastPosts|length > 0 %}
	<section id="last3posts" class="container-fluid mt-5">
		<div class="row justify-content-center">
			<div class="col-10">
				<h2 class="gradient-text pb-4" leet-speak inverse>{{ "home.lastPosts.title" | trans }}</h2>
				<div class="row">
					{% for post in lastPosts %}
               			<div class="col-12 col-md-6 col-lg-4 mt-3 mt-lg-0">
							<div class="card">
								<div class="card-header admin-card-title" leet-speak inverse>{{ post.title }}</div>
								<div class="card-body ">
									<div class="post-list-content" leet-speak inverse>
										{{ post.content }}
									</div>
									<a href="{{ url('post', {post: post.id}) }}" class="btn btn-primary mt-3" leet-speak inverse>{{ "home.lastPosts.button.read" | trans }}</a>
								</div>
							</div>
						</div>
					{% endfor %}
				</div>
			</div>

		</div>
	</section>
	{% endif %}

	<section id="leetpopup">
		<!-- Modal -->
		<div class="modal fade" id="modalLeet" tabindex="-1" role="dialog">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" leet-speak>{{ "leetspeak.console.title" | trans }}</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<p leet-speak>
							{{ "leetspeak.console.text" | trans }}
						</p>
						<div class="row justify-content-center">
							<div id="konami-controls" class="col-12 text-center">
								<img id="left" class="konamiInput" src="{{ asset('images/left.png') }}" onClick="Drag.clickKonamiArrow('L')">
								<img id="right" class="konamiInput" src="{{ asset('images/right.png') }}" onClick="Drag.clickKonamiArrow('R')">
								<img id="up" class="konamiInput" src="{{ asset('images/up.png') }}" onClick="Drag.clickKonamiArrow('U')">
								<img id="down" class="konamiInput" src="{{ asset('images/down.png') }}" onClick="Drag.clickKonamiArrow('D')">
								<img id="a" class="konamiInput" src="{{ asset('images/a.png') }}" onClick="Drag.clickKonamiArrow('A')">
								<img id="b" class="konamiInput" src="{{ asset('images/b.png') }}" onClick="Drag.clickKonamiArrow('B')">
							</div>
							<div id="konami-input" class="text-center mt-3">
								<p id="codeSpan" leet-speak></p>
								<button class="btn btn-outline-danger" id="buttonResetCodeKonami" onClick="Drag.resetCodeKonami()">{{ 'leetspeak.console.reset' | trans }}</button>
							</div>
							<div class="col-12 mt-3">	
								<span id="tipsSpan" leet-speak></span>
								<button class="btn btn-outline-secondary" id="buttonShowTipsKonami" onClick="Drag.showTipsKonami(this)">{{ 'leetspeak.console.tipsButton' | trans }}</button>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button class="btn gradient text-white" id="buttonDecode" onClick="Drag.decode()">{{ 'leetspeak.console.decode' | trans }}</button>
						<button type="button" class="btn btn-secondary" data-dismiss="modal" onClick="Drag.resetTipsKonami()">{{ 'leetspeak.console.close' | trans}}</button>
					</div>
				</div>
			</div>
		</div>
	</section>

{% endblock %}

{% block javascripts %}
	<script src="{{ asset('js/Home.js') }}"></script>
	<script src="{{ asset('js/Drag.js') }}"></script>


	<script>
		Home.traduction = {
			avant: "{{ 'home.compteur.avant' | trans }}",
			pendant: "{{ 'home.compteur.pendant' | trans }}",
			apres: "{{ 'home.compteur.apres' | trans }}"
		}

		Drag.translation = {
			tips: "{{ 'leetspeak.console.tipsText' | trans }}",
		}
	</script>
{% endblock %}

