{% extends 'base.html.twig' %}

{% block title %}{{ "navbar.items.home" | trans }}{% endblock %}

{% block body %}


{% set skill = ["home.cards.developpement" | trans, "home.cards.reseau" | trans, "home.cards.gestion" | trans, "home.cards.marketing" | trans] %}
{% set domain = ["home.cards.technique" | trans, "home.cards.technique" | trans, "home.cards.humain" | trans, "home.cards.humain" | trans] %}

<div class="home-jumbotron gradient">
   <div class="jumbotron-text">
      <h1 class="big-title px-5" leet-speak>{{ "home.jumbotron.title" | trans }}</h1>
      <p class="mt-5" leet-speak>{{ "home.jumbotron.description" | trans }}</p>
   </div>
   <div class="mt-5 jumbotron-down-arrow">
      <h2 class="text-white">
         <a href="#main"><i class="fas fa-chevron-down"></i></a>
      </h2>
   </div>
</div>

<section id="main">
   <div id="main-title">
      <h1 class="gradient-text" leet-speak>{{ "home.main.title.part1" | trans }}</h1>&nbsp;
      <h1 class="gradient-text"><span id="dominant" leet-speak>{{ "home.main.title.part2" | trans }}</span></h1>&nbsp;
      <h1 class="gradient-text" leet-speak>{{ "home.main.title.part3" | trans }}</h1>
   </div>


   <div class="container-fluid" id="cards">
      <div class="row justify-content-center">
      {% for i in 1..4 %}
         {% include "components/card-info.html.twig" with {
            type: i,
            skill: skill[i-1],
            domain: domain[i-1]
         }%}
      {% endfor %}
      </div>
   </div>
</section>

<section id="contact" class="gradient">

</section>


<div class="auto-scroller"></div>

{% endblock %}
