{% extends 'base.html.twig' %}

{% block title %}{{ "admin.posts.page.title" | trans }}
{% endblock %}

{% block body %}


	<div class="container-fluid mt-5">
		<div class="row justify-content-center">
			<div class="col-10">
				
				{% if posts|length > 0 %}
					{% for key, post in posts %}
						<div class="card {{ key > 0 ? 'mt-3' : 'mt-4' }}">
							<div class="card-header">
								<div class="row">
									<div class="col-12 col-md-8">
										<h5 class="admin-card-title" leet-speak inverse>{{ post.title }}</h5>
									</div>
									<div class="col-12 col-md-4 mt-3 mt-md-0 text-right">
										<a href="{{ url('post', {post: post.id}) }}" class="btn gradient text-white mr-2" leet-speak inverse>{{ "admin.posts.read" | trans }}</a>
										
										{% if is_granted("ROLE_ADMIN") %}
											<a href="{{ url('admin_post_delete', {post: post.id}) }}" class="btn btn-danger" leet-speak inverse>{{ "admin.posts.delete" | trans }}</a>
										{% endif %}
									</div>
								</div>
							</div>
							<div class="card-body admin-card-content">
								<div class="post-list-content" leet-speak inverse>
									{{ post.content }}
								</div>
							</div>
						</div>
					{% endfor %}
				{% else %}
					<h5 class="mt-4" leet-speak inverse>{{ "admin.posts.empty" | trans }}</h5>
				{% endif %}


			</div>
		</div>
	</div>


{% endblock %}
