{% extends 'base.html.twig' %}

{% block title %}{{ "admin.users.posts.page.title" | trans }} - {{ user.username }}
{% endblock %}


{% block body %}

	<div class="container-fluid mt-5">
		<div class="row justify-content-center">
			<div class="col-10">
				<h3 leet-speak inverse>{{ user.username }}</h3>
				
				{% if app.user.id != user.id %}
					<a href="{{ url('admin_user_delete', {user:user.id}) }}" class="text-danger" leet-speak inverse>{{ "admin.users.posts.delete.user" | trans }}</a>
				{% endif %}
				
				{% if posts|length > 0 %}
					{% for key, post in posts %}
						<div class="card {{ key > 0 ? 'mt-3' : 'mt-4' }}">
							<div class="card-header">
								<div class="row">
									<div class="col-12 col-md-8">
										<h5 class="admin-card-title" leet-speak inverse>{{ post.title }}</h5>
									</div>
									<div class="col-12 col-md-4 mt-3 mt-md-0 text-right">
										<a href="{{ url('post', {post: post.id}) }}" class="btn gradient text-white mr-2" leet-speak inverse>{{ "admin.users.posts.read" | trans }}</a>
										<a href="{{ url('admin_postFromUser_delete', {post: post.id}) }}" class="btn btn-danger" leet-speak inverse>{{ "admin.users.posts.delete" | trans }}</a>
									</div>
								</div>
							</div>
							<div class="card-body admin-card-content">
								<div class="post-list-content" leet-speak inverse>
									{{ post.content }}
								</div>
							</div>
						</div>
					{% endfor %}
				{% else %}
					<h5 class="mt-4" leet-speak inverse>{{ "admin.users.posts.empty" | trans }}</h5>
				{% endif %}


			</div>
		</div>
	</div>

{% endblock %}
