{% extends 'base.html.twig' %}

{% block title %}Posts
{% endblock %}


{% block body %}

	<div class="container-fluid mt-5">
		<div class="row justify-content-center">
			<div class="col-10">
				<h3>{{ user.username }}</h3>
				
				{% if app.user.id != user.id %}
					<a href="{{ url('admin_user_delete', {user:user.id}) }}" class="text-danger">Delete this user</a>
				{% endif %}
				
				{% if posts|length > 0 %}
					{% for key, post in posts %}
						<div class="card {{ key > 0 ? 'mt-3' : 'mt-4' }}">
							<div class="card-header">
								<div class="row">
									<div class="col-12 col-md-8">
										<h5 class="admin-card-title">{{ post.title }}</h5>
									</div>
									<div class="col-12 col-md-4 mt-3 mt-md-0 text-right">
										<a href="{{ url('post', {post: post.id}) }}" class="btn btn-outline-primary mr-2">Read</a>
										<a href="{{ url('admin_post_delete', {post: post.id}) }}" class="btn btn-danger">Delete</a>
									</div>
								</div>
							</div>
							<div class="card-body admin-card-content">
								<div class="post-list-content">
									{{ post.content }}
								</div>
							</div>
						</div>
					{% endfor %}
				{% else %}
					<h5 class="mt-4">Cet utilisateur n'a rien posté</h5>
				{% endif %}


			</div>
		</div>
	</div>

{% endblock %}
